{% if page.previous or page.next %}
<nav class="pagination">
    {% if page.next %}
  <a href="{{ page.next.url }}" class="pagination_pager" title="{{ page.next.title | markdownify | strip_html }}">
    <i class="fa fa-arrow-right"></i>
    הקודם
  </a>
  {% else %}
  <a href="#" class="pagination_pager disabled">הקודם</a>
  {% endif %}

  {% if page.previous %}
  <a href="{{ page.previous.url }}" class="pagination_pager" title="{{ page.previous.title | markdownify | strip_html }}">
    הבא
    <i class="fa fa-arrow-left"></i>
  </a>

  {% endif %}
</nav>
{% endif %}
