---
layout: compress
---

<!DOCTYPE html>
<html lang="he-IL">
{% include head.html %}
<body id="homepage" dir="rtl">
  <div class="block-left">
      <div class="main-info">
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">
      <div class="content">
        <img src="{{ site.url }}/images/{{ site.logo }}" alt="מוצא, מעמק להר">
        <h1 id="homepage-title">{{ site.description }}</h1>
        <br>
        <hr>
        <ul class="posts-list">
        {% for post in site.posts %}
          <li>
            <h2>
              <a href="{{site.url}}{{ post.url }}" class="post-title">
                <span>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</span>
              </a>
            </h2>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/canvas.js"></script>
</body>
</html>
