---
layout: compress
---

<!DOCTYPE html lang="he-IL">
<html>
{% include head.html %}
<body id="posts" class="inner-post-page" dir="rtl">

    <div class="block-left">
      <div class="content">
      </div>
    </div>

    <div class="block-right">
      <div class="inner-post content">
          <a href="{{ site.url }}" class="logo" ><img src="{{ site.url }}/images/{{ site.logo }}" alt="לוגו"></a>
          <h1>{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          <div class="section-line reverse"><em>/</em>{{ page.caption}}<em>/</em></div>
          <div class="date-highlight">&nbsp;&#x2756;&nbsp;</div>
        {{ content }}
        <br>
        {% include share.html %}
        <br><hr>
        {% include page-pagination.html %}

      </div>
    </div>
    {% include scripts.html %}
</body>
</html>
